@model List<Customer>

<h1>Customer List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State/Province
            </th>
            <th>
                Postal Code
            </th>
            <th>
                Country
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>  
        </tr>
    </thead>
    <tbody>
        @* Use @ to introduce C# code. List is sorted by ascending order of names as default *@
        @foreach(var customer in Model.OrderBy(x => x.Name))
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Address</td>
                <td>@customer.City</td>
                <td>@customer.Region</td>
                <td>@customer.PostalCode</td>
                <td>@customer.Country</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
            </tr>
        }
    </tbody>
</table>
